<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Subir Archivo</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <nav>
        <a href="{{ url_for('app_routes.home') }}">Inicio</a>
        <a href="{{ url_for('app_routes.upload_file') }}">Subir Archivo</a>
    </nav>
    <div class="container">
        <h2>Subir Archivo Excel</h2>
    
        {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
                {% for category, message in messages %}
                    <p class="{{ category }}">{{ message }}</p>
                {% endfor %}
            {% endif %}
        {% endwith %}
    
        <form method="POST" enctype="multipart/form-data">
            {{ form.hidden_tag() }}
            <label>{{ form.file.label }}</label>
            {{ form.file() }}
            {{ form.submit(class="btn") }}
        </form>

        <form action="{{ url_for('app_routes.download_reports') }}" method="get">
            <button type="submit" class="btn btn-primary">Descargar Todos los PDFs</button>
        </form>

    </div>
</body>
</html>
